<div class="container-fluid timetable-container">
    <div class="row">
        <div class="col-lg-8">
            <div class="week-navigator d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-primary" (click)="previousWeek()">
                    <i class="fas fa-chevron-left me-2"></i>Previous Week
                </button>
                <span class="current-week">
                    <i class="fas fa-calendar-week me-2"></i>
                    Week of {{ScheduleViewModel.WeekStart | date}}
                </span>
                <button class="btn btn-outline-primary" (click)="nextWeek()">
                    Next Week<i class="fas fa-chevron-right ms-2"></i>
                </button>
            </div>

            <div class="schedule-table">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Time</th>
                            <th scope="col" class="text-center">Monday</th>
                            <th scope="col" class="text-center">Tuesday</th>
                            <th scope="col" class="text-center">Wednesday</th>
                            <th scope="col" class="text-center">Thursday</th>
                            <th scope="col" class="text-center">Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Schedule">
                            <th scope="row" class="text-center">
                                {{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}
                            </th>
                            <td *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
                                <div *ngIf="item.dayOfWeek === day" class="class-slot">
                                    <h4><i class="fas fa-book me-2"></i>{{item.subjectName}}</h4>
                                    <p><i class="far fa-clock me-2"></i>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p><i class="far fa-calendar-alt me-2"></i>{{item.startTime| date}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="classes-sidebar">
                <div class="card-header bg-primary text-white py-3">
                    <h5 class="mb-0">
                        <i class="fas fa-graduation-cap me-2"></i>Your Classes
                    </h5>
                </div>
                <div class="classes-list">
                    <div *ngIf="Classes.Length==0" class="empty-state">
                        <i class="fas fa-book-reader fa-3x mb-3"></i>
                        <p class="mb-0">No Classes Found</p>
                    </div>
                    <div *ngFor="let item of Classes" class="class-item">
                        <a [routerLink]="['/class', item.classId]">
                            <i class="fas fa-chalkboard-teacher"></i>
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>