<div class="container d-flex" style="margin-top: 30px; margin-left:15px">
    <div class="timetable me-3" style="flex: 3;" ng-app="myApp" ng-controller="TimeTableController">
        <div>
            <h1 class="text-center">Time Table</h1>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-secondary" (click)="previousWeek()">Previous Week</button>
            <button class="btn btn-secondary" (click)="nextWeek()">Next Week</button>
        </div>
        <div class="schedule-table">
            <table class="table bg-white">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Schedule">
                        <th scope="row">{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</th>
                        <td>
                            <div *ngIf="item.dayOfWeek === 'Monday'" class="active">
                                <div class="hover">
                                    <h4>{{item.subjectName}}</h4>
                                    <p>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p>{{item.startTime| date}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.dayOfWeek === 'Tuesday'" class="active">
                                <div class="hover">
                                    <h4>{{item.subjectName}}</h4>
                                    <p>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p>{{item.startTime| date}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.dayOfWeek === 'Wednesday'" class="active">
                                <div class="hover">
                                    <h4>{{item.subjectName}}</h4>
                                    <p>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p>{{item.startTime| date}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.dayOfWeek === 'Thursday'" class="active">
                                <div class="hover">
                                    <h4>{{item.subjectName}}</h4>
                                    <p>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p>{{item.startTime| date}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.dayOfWeek === 'Friday'" class="active">
                                <div class="hover">
                                    <h4>{{item.subjectName}}</h4>
                                    <p>{{item.startTime | date:'shortTime'}} - {{item.endTime | date:'shortTime'}}</p>
                                    <p>{{item.startTime| date}}</p>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4" style="margin-top:90px">
        <div class="card mb-4">
            <div class="card-header bg-success text-white">
                <h5 class="card-title mb-0">Your Classes</h5>
            </div>
            <div class="card-body">
                <ul class="list-group ListSubject">
                    <div *ngIf="Classes.Length==0; else elseblock">
                        <li class="alert alert-warning">No Classes Found</li>
                    </div>
                    <ng-template #elseblock>
                        <div *ngFor="let item of Classes">
                            <li class="list-group-item" [routerLink]="['/class', item.classId]"><a > {{item.name}}</a></li>
                        </div>
                    </ng-template>
                </ul>
            </div>
        </div>

    </div>
</div>

